"====================================================================
" Sane editor settings
"====================================================================
set scrolloff=10
set linenumber
set showmode
set showcmd
set visualbell
set noerrorbells
set clipboard+=unnamed
"====================================================================
" Leader key
"====================================================================
set ignorecase
set smartcase
set incsearch
set hlsearch
"====================================================================
" Plugins
"====================================================================
set surround
set highlightedyank
set nerdtree
"====================================================================
" Behavior
"====================================================================
" Shorten from default 2 seconds.
set timeoutlen=1000

"====================================================================
" Leader key
"====================================================================
" Remap the leader key.
 let g:mapleader = "\<space>"

nnoremap <silent> <esc> :nohlsearch<cr><c-L>

"====================================================================
" Buffers
"====================================================================
" Go to next buffer (Shift-L).
nnoremap <silent> L :bn<cr>
"inoremap <silent> L <esc>:bn<cr>

" Go to previous buffer (Shift-H).
nnoremap <silent> H :bp<cr>
"inoremap <silent> H <esc>:bp<cr>

" Close buffer.
nnoremap <silent> D :bd<cr>
"inoremap <silent> D <esc>:bd<cr>

"====================================================================
" Commands
"====================================================================
" Comment lines
map ' <action>(CommentByLineComment)

" Open NERDTree (use q to exit)
"map <leader>e :NERDTreeFocus<CR>

" Actions
map <leader>am <action>(ShowIntentionActions)
map <leader>as <action>(SearchEverywhere)

" File navigation
map <leader>f <action>(SearchEverywhere)
map <leader>h <action>(ShowHoverInfo)

" Go to code
nmap gd <Action>(GotoDeclaration)
nmap gy <Action>(GotoTypeDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gu <Action>(ShowUsages)
nmap gt <Action>(GotoTest)
nmap gf <Action>(Back)
nmap gb <Action>(Forward)

" window navigation when vsplit
nmap <C-h> <C-w>h
nmap <C-l> <C-w>l

" debugging
nnoremap <leader>dc :action Resume<CR>
nnoremap <leader>ds :action Stop<CR>
nnoremap <leader>db :action ToggleLineBreakpoint<CR>
nnoremap <leader>dn :action StepOver<CR>
nnoremap <leader>di :action StepInto<CR>
nnoremap <leader>do :action StepOut<CR>

" Errors
nnoremap [d :action GotoNextError<CR>
nnoremap ]d :action GotoPreviousError<CR>
" need to be on the error/warning squigly for this to work
nnoremap E :action ShowErrorDescription<CR>


nmap <leader>H <C-w>s
nmap <leader>V <C-w>v
